<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Playground.lambdatest suite">
    <test name="Playground.lambdatest test">
        <classes>
            <class name="org.example.Buy"/>
            <class name="org.example.LogOut"/>
            <class name="org.example.Register"/>
            <class name="org.example.Login"/>
        </classes>
    </test>
</suite>
